@model Registration
<form>
    <div class="container">
        <h2>Login Hare</h2>
        <div>
            <div class="mt-2">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="text"/>
            </div>
            <div class="mt-2">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password"/>
            </div>
            <br />
            <button type="submit" class="btn btn-info">Login</button>
        </div>

    </div>
</form>